[submodule "twitter_bootstrap/static"]
	path = twitter_bootstrap/static
	url = git://github.com/twitter/bootstrap.git
[submodule "twitter_bootstrap/static/twitter_bootstrap"]
	path = twitter_bootstrap/static/twitter_bootstrap
	url = git@github.com:twbs/bootstrap.git
