include AUTHORS
include LICENSE
include PLAN
include *.md
include *.rst
include setup.py
include twitter_bootstrap/*.py
include twitter_bootstrap/static/twitter_bootstrap/fonts/glyphicons-halflings-regular.*
include twitter_bootstrap/static/twitter_bootstrap/js/*.js
recursive-include twitter_bootstrap/static/twitter_bootstrap/less *.less
