include AUTHORS
include LICENSE
include PLAN
include *.md
include *.rst
include setup.py
include bootstrap_less/*.py
include bootstrap_less/static/bootstrap_less/fonts/glyphicons-halflings-regular.*
include bootstrap_less/static/bootstrap_less/js/*.js
recursive-include bootstrap_less/static/bootstrap_less/less *.less
