<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include '_includes/header.html' %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {% include '_includes/nav-main.html' %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
        {% include '_includes/ads.html' %}
      </div>
    </div>

    <!-- Callout for the old docs link -->
    {% include '_includes/old-bs-docs.html' %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <aside class="bs-sidebar" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.nav %}
                {% include page.nav %}
              {% endif %}
            </ul>
          </aside>
        </div>
        <main class="col-md-9" role="main">
          {% block content %}{% endblock %}
        </main>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      {% include '_includes/social-buttons.html' %}

      <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
      <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      <ul class="footer-links">
        <li><a href="{{ site.blog }}">Blog</a></li>
        <li class="muted">&middot;</li>
        <li><a href="{{ site.repo }}/issues?state=open">Issues</a></li>
        <li class="muted">&middot;</li>
        <li><a href="{{ site.repo }}/releases">Releases</a></li>
      </ul>
    </footer>

    <!-- JS and analytics only. -->
    {% include '_includes/footer.html' %}

  </body>
</html>
